.voteInfo img {
    width: 250px;
    height: auto;
}

@media (min-width: 768px) {
    .voteInfo {
        width: 80%;
        display: flex;
        align-items: center;
        gap: 3%;
        margin: auto;
        color: #fff;
        margin-bottom: 3%;
        background-color: #090711;
        padding: 3%;
    }
}

@media (max-width: 767px) {
    .voteInfo {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3%;
        margin: auto;
        color: #fff;
        margin-bottom: 5%;
        background-color: #090711;
        padding: 5%;
    }

    .voteInfo img {
        margin-bottom: 5%;
    }
}