header {
    color: #fff;
    padding: 12px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #090711;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
    }
}