.movieList {
    display: flex;
    gap: 1%;
}

.weeklyMovie {
    color: #fff;
    padding: 2% 2%;
}

.weeklyMovie h2 {
    margin-bottom: 0;
}

.weeklyMovie h3 {
    color: #C11F75;
    font-size: 1em;
}