* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    background-color: #0E0C1B;
}

a {
    color: #8d2dfa;
}

a:hover {
    color: #ff24ab;
}

a:active {
    color: #8d2dfa;
}

img:hover {
    opacity: 0.7;
}


button {
    cursor: pointer;
    background-color: #d40284;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

button:hover {
    background-color: #6402d4;
}

button:active {
    background-color: #d40284; 
}

.secondaryBtn {
    color: #ff24ab;
    background-color: rgba(0, 0, 0, 0);
}

.secondaryBtn:hover {
    color: #8d2dfa;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
}

.secondaryBtn:active {
    color: #ff24ab;
    background-color: rgba(0, 0, 0, 0);
}