.winnerContainer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 3%;
}

.winnerContainerInfo {
    background-color: rgb(0, 0, 0, .8);
    color: #fff;
}

@media (min-width: 1024px) {
    .winnerContainerInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10% 20% 1% 20%;
        gap: 5%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .winnerContainerInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7% 20%;
    }
    .winnerContainerInfo img {
        margin-bottom: 5%;
    }
}

@media (max-width: 767px) {
    .winnerContainerInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7% 20%;
    }
    .winnerContainerInfo img {
        margin-bottom: 5%;
    }
}